body{
  background-color: #192A32;
  font-family: 'Roboto', sans-serif;
}
*{
  margin: 0;
  padding: 0;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.game{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  width: 260px;

}

.game-details{
  display: flex;
  flex-direction: row;
  align-items:flex-end;
  width: 260px;
}
.stats{
  color:#A8BEC9;
  font-size:18px;
  font-weight: bold;
  letter-spacing: 1px;
  width: 90px;
  padding:5px;
  border-radius: 10px;
  text-align: center;
  background-color:#1F3540;
  box-shadow: 0px 5px 5px 0px #10212B;
  -webkit-box-shadow: 0px 5px 5px 0px #10212B;
  -moz-box-shadow: 0px 5px 5px 0px #10212B;
  margin: 0 0 10px 15px;
}
.players{
  font-size:30px;
  font-weight: bold;
  letter-spacing: 5px;
  color:#33c3bf;
  margin: 10px;
}
.players span{
  color:#edae36;
}

.reset-button{
  background-color: #A8BEC9;
  height: 33px;
  padding: 7px;
  border-radius: 5px;
  border: none;
  display: flex;
  align-items: center;
  margin:5px 5px 10px 32px;
  box-shadow: 0 5px 5px 0 #10212B;
}
.reset-icon{
width: 21px;
}

.box{
  width: 70px;
  height:70px;
  background-color:#1F3540;
  margin: 8px;
  border-radius: 7px;
  box-shadow: 0 5px 5px 0 #10212B;
  -webkit-box-shadow: 0 5px 5px 0px #10212B;
  -moz-box-shadow: 0 5px 5px 0px #10212B;
  color:#33c3bf;
  font-size: 35px;
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content:center;
}
.player-box{
  width: 70px;
  height: 30px;
  background-color: #33c3bf;
  color:#192A32;
  margin: 8px;
  padding: 4px 0;
  border-radius: 7px;
  font-size: 11px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.5px;
}
.player-box p{
  margin-bottom: 2px;
  opacity: 0.9;
  padding: 0.8px;
}
.history{
  background-color: #A8BEC9;
}
.player2{
  background-color: #edae36;
}
.winner{
  width: 100vw;
  background-color: #1f3540;
  position: absolute;
  color:#2FC5BF;
  height: 250px;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1s;
  font-size: 28px;

}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.banner-btn{
  margin: 10px;
  border-radius: 5px;
  border:none;
  padding: 8px 17px;
  cursor: pointer;
}
.winner .banner-btn:first-child{
  background-color: #A8BEC9;
  box-shadow: 0px 2px 0px 0px rgba(107,135,145,0.75);
}
.winner .banner-btn:last-child{
  background-color: #edae36;
  box-shadow: 0px 2px 0px 0px rgba(214,149,32,0.75);
}
